/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 1300px) {
  .boxout {
    display: none;
  }

  header .top-header {
    margin-top: 80px;
  }
  header .top-header .branding {
    left: 0px;
    right: 0px;
    margin: 0px;
    margin-left: 0px !important;
    top: -80px;
    padding-bottom: 20px;
    background-color: #b12727;
  }
  header .top-header #right-nav {
    padding-right: 0px;
    width: initial;
  }
  header .top-header #left-nav {
    padding-left: 50px;
    width: initial;
  }
  header .top-header #left-nav ul#menu-leftmeny {
    float: left;
  }
}
@media (max-width: 995px) {
  .banner .welcomebox {
    width: 70%;
  }
}
@media (max-width: 765px) {
  .page-content .tjanster .tjanst-item {
    height: 400px;
  }
}
@media (max-width: 600px) {
  header nav ul {
    display: none;
  }

  .banner .welcomebox {
    width: 100%;
  }

  .page-content .tjanster .tjanst-item {
    height: 300px;
  }
}
@media (max-width: 400px) {
  .welcomebox h1 {
    font-size: 30px;
  }
}
.black-btn {
  border: 2px solid black;
  background-color: white;
  padding: 10px 5px;
  margin: 40px 0px;
  color: black;
  display: inline-block;
}

/*GENERAL RULES*/
body, html {
  height: 100%;
}

body {
  font-family: "open-sans";
  line-height: 1;
  color: #484848;
}

.boxout {
  height: 5rem;
  float: left;
  width: 20%;
}

.parallax-mirror {
  z-index: 2 !important;
}

.stripes {
  color: white;
  background: repeating-linear-gradient(45deg, #b12727, #b12727 5px, #F7F6F1 5px, #F7F6F1 20px);
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

h1 {
  font-family: "paralucent";
  font-size: 35px;
  margin: 10px 0px 20px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  margin: 5px 0px 10px;
}

h3 {
  font-size: 20px;
  margin: 0px 0px 10px;
  font-weight: 600;
}

p {
  margin: 10px 0px;
}

video {
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* min-width: 100%; */
  /* min-height: 100%; */
  /* width: auto; */
  /* height: auto; */
  /* z-index: -100; */
  /* transform: translateX(-50%) translateY(-50%); */
  background-size: cover;
  transition: 1s opacity;
  height: 620px;
}

.fa-search {
  color: white;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  /* margin-right: 20px; */
  float: right;
  right: 20px;
  line-height: 5rem;
  /* top: 20px; */
  /* bottom: 0px; */
  margin: auto;
  display: block;
}

.fa-globe {
  color: white;
  cursor: pointer;
  font-size: 29px;
  position: absolute;
  right: 15px;
  top: 10px;
  bottom: 0px;
  margin: auto;
  display: block;
}

/*OVERLAYS*/
.blackoverlay, .page-wrapper .container .fp-add {
  background: linear-gradient(to top, #000000, rgba(255, 255, 255, 0) 40%);
}

.purpleoverlay {
  background: linear-gradient(0deg, #151040, rgba(255, 255, 255, 0) 100%);
}

.goldoverlay {
  background: linear-gradient(0deg, #E5A745, rgba(255, 255, 255, 0) 30%);
}

.grow {
  transition: all 200ms ease-in;
}
.grow:hover {
  transform: scale(1.05);
}

.add {
  cursor: pointer;
  position: relative;
  text-shadow: 5px 5px 10px black;
}

.border {
  border: 2px solid;
}

/*SWIPER STYLES*/
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-slide {
  height: 620px;
  background-size: cover;
}
.swiper-container .swiper-slide:hover {
  cursor: pointer;
        		/*

        		&:before{

        			background: linear-gradient(25deg, #151040, rgba(255, 255, 255, 0.7) 100%);

        			}

        			*/
}
.swiper-container .swiper-slide:before {
  transition: 1s ease all;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to top, #000000, rgba(255, 255, 255, 0) 40%);
}
.swiper-container .swiper-slide h2 {
  color: white;
  position: absolute;
  top: initial;
  bottom: 50px;
  left: 20px;
  font-weight: bold;
  background: none;
  font-size: 55px;
}
.swiper-container .swiper-button-next {
  background-color: white;
  right: 0px;
  padding: 35px;
}
.swiper-container .swiper-button-prev {
  background-color: white;
  left: 0px;
  padding: 35px;
}
.swiper-container .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #FFF;
  opacity: 1;
}
.swiper-container .swiper-pagination-bullet-active {
  background-color: #000000;
}

.clearfix {
  clear: both;
}

.page-wrapper {
  margin-top: 4.75rem;
}
.page-wrapper #kontakt .map-banner {
  margin-top: 5rem;
  width: 100%;
}
.page-wrapper #kontakt .map-banner iframe {
  width: 100%;
}
.page-wrapper .container p {
  line-height: 1.25;
}
.page-wrapper .container .whitewrap {
  background-color: #fff8ed;
  margin: 70px 0px;
  border-left: 5px solid #E5A745;
}
.page-wrapper .container .whitewrap p {
  font-size: 18px;
  line-height: 25px;
  color: gray;
}
.page-wrapper .container .whitewrap h2 {
  font-weight: slim;
  font-size: 35px;
}
.page-wrapper .container .whitewrap .fp-add {
  height: 400px;
  margin-top: -15px !important;
  margin-bottom: 15px !important;
}
.page-wrapper .container .whitewrap .text-wrap.golden {
  color: black;
  border: none;
}
.page-wrapper .container .no-bak-wrap {
  margin: 50px 0px;
  color: white;
  margin-top: 70px;
}
.page-wrapper .container .btn-border {
  color: white;
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  padding: 12px 20px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  bottom: 40px;
  left: 40px;
  transition: 1s ease all;
}
.page-wrapper .container .btn-border:hover {
  background-color: white;
  color: #E5A745;
  border-color: white;
  text-decoration: none;
}

/*GENERAL END*/
body .red-box {
  background-color: #b12727;
  border: 1px solid gray;
  padding: 19px;
}
body .red-box .sub-title {
  padding-bottom: 10px;
  color: white;
  border-bottom: 3px solid white;
}
body section {
  position: relative;
}
body .page-back {
  background-color: white;
}
body #insta-title {
  text-align: center;
}
body #insta-title a {
  color: black;
}
body section h1 {
  color: black;
  font-family: "open-sans";
}
body .text-wrap {
  margin-top: 50px;
}
body .text-wrap.golden {
  border-left: 5px solid #E5A745;
  padding-left: 20px;
}

.social-bar {
  position: fixed;
  top: 40%;
  height: 150px;
  width: 50px;
  background-color: white;
  z-index: 99999;
  text-align: center;
}
.social-bar i.fa {
  font-size: 25px;
  color: white;
  position: absolute;
  top: 13px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  display: block;
  margin: auto;
}
.social-bar #facebook {
  height: 50px;
  position: relative;
  width: 100%;
  background-color: white;
}
.social-bar #facebook i.fa {
  font-size: 25px;
  color: white;
}
.social-bar #twitter {
  height: 50px;
  position: relative;
  width: 100%;
  background-color: #55acee;
}
.social-bar #twitter i.fa {
  font-size: 25px;
  color: white;
}
.social-bar #pintrest {
  height: 50px;
  position: relative;
  width: 100%;
  background-color: #bd081c;
}
.social-bar #pintrest i.fa {
  font-size: 25px;
  color: white;
}

header {
  top: 0px;
  width: 100%;
  position: fixed;
  height: 5rem;
  z-index: 99;
}
header .top-header {
  height: 5rem;
  background-color: #b12727;
  text-align: center;
}
header .top-header #right-nav {
  padding-right: 100px;
}
header .top-header #left-nav {
  padding-left: 100px;
}
header .top-header #left-nav #menu-leftmeny {
  float: right;
}
header .top-header .center-menu {
  display: inline-block;
  position: absolute;
  left: 0px;
  right: 0px;
}
header .top-header .branding {
  position: absolute;
  display: inline-block;
  text-align: center;
  padding-left: 15px;
  margin-right: 15px;
  left: 50%;
}
header .top-header img {
  max-width: 300px;
  max-height: 55px;
  margin-top: 10px;
}
header .top-header #local {
  position: relative;
  float: right;
}
header .top-header .search-wrap {
  position: relative;
  height: 5rem;
  margin-right: 20px;
}
header .top-header .search-wrap .searchbar {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -20px;
  display: none;
}
header .top-header .menu-toggle {
  margin-top: 15px;
  display: none;
}
header .top-header .menu-toggle i.fa {
  color: white;
  font-size: 30px;
}
header .top-header nav {
  height: 5rem;
  float: left;
  width: 40%;
}
header .top-header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 5rem;
}
header .top-header nav li {
  float: left;
  display: inline-block;
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: center;
}
header .top-header nav a {
  display: block;
  padding: 0 12px;
  text-decoration: none;
  color: white;
  font-size: 17px;
  line-height: 5rem;
  transition: all 1s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
header .top-header nav a:hover {
  color: black;
  background-color: white;
}
header .top-header .search {
  margin-top: 10px;
}
header .top-header .loggin {
  text-align: right;
  display: none;
}
header .top-header input {
  font-size: 19px;
  padding: 5px 10px;
  width: 80%;
  height: 35px;
  display: block;
  float: left;
}
header .top-header button {
  display: block;
  width: 20%;
  background-color: #000000;
  border: none;
  height: 35px;
  color: white;
  float: left;
}
header .top-header .kontakt span {
  display: block;
  width: 100%;
  margin: 10px 0px;
}
header .top-header .kontakt span i.fa {
  margin-right: 30px;
}
header .top-header .kontakt span:first-child {
  margin-top: 0px;
}
header #page-logo {
  width: 100%;
  float: left;
  font-family: "ubuntu";
  color: white;
  letter-spacing: 2px;
}
header #page-logo a {
  color: white;
}
header .bottom-header {
  background-color: #b12727;
}
header .bottom-header nav {
  width: 100%;
}
header .bottom-header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .bottom-header nav .current_page_item {
  background-color: white;
}
header .bottom-header nav .current_page_item a {
  color: black;
}
header .bottom-header nav li {
  float: left;
  display: inline-block;
}
header .bottom-header nav a {
  display: block;
  padding: 15px 12px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/*HEADER END*/
/*Lang-section*/
section#lang-section {
  margin-top: 50px;
  min-height: 600px;
}
section#lang-section h2 {
  color: black;
  font-size: 35px;
  text-align: center;
  padding: 50px;
}

/*PARA SECTION*/
section#welcome-section-para {
  padding: 80px 0px;
  height: 550px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center 0;
  margin: 50px 0px;
  margin-bottom: 0px;
}
section#welcome-section-para #text {
  position: absolute;
  color: white;
  z-index: 99999;
  font-family: "ubuntu";
  right: 20px;
  top: 30%;
  opacity: 0;
}
section#welcome-section-para #text h1 {
  font-family: "ubuntu";
  color: white;
  text-shadow: 1px 1px 2px black;
}
section#welcome-section-para #text p {
  text-shadow: 1px 1px 2px black;
}

section .content-wrap {
  margin: 90px 0px;
}
section .container {
  padding: 15px;
}
section .container p {
  letter-spacing: 1px;
}

section#facebook {
  background-color: white;
  padding: 80px 0px;
  margin: 0px;
}

#info-section {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 48px;
}
#info-section #insta-title {
  /* margin-bottom: 30px; */
  padding: 0px;
  height: 0px;
  margin: 0px;
  visibility: visible;
  height: 100px;
  padding: 30px 0px;
  /* margin-top: 48px; */
  background-color: white;
  color: black;
  font-weight: 100;
  font-family: "ubuntu";
  transition: 1s ease all;
}
#info-section #insta-title.visible {
  visibility: visible;
  height: 100px;
  padding: 30px 0px;
}
#info-section #instafeed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
#info-section #instafeed .insta {
  webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: calc(100%/6);
  -ms-flex-preferred-size: calc(100%/6);
  flex-basis: calc(100%/6);
  line-height: 0;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  border: .2vw solid transparent;
  cursor: pointer;
  position: relative;
}
#info-section #instafeed .insta .text {
  transition: 0.5s ease all;
  position: absolute;
  height: 100%;
  left: 0px;
  right: 0px;
  color: white;
  background-color: rgba(255, 0, 0, 0.4);
  font-size: 15px;
  font-family: "open-sans";
  line-height: 16px;
  opacity: 0;
  visibility: hidden;
}
#info-section #instafeed .insta .text small {
  padding: 40px 0px 40px 10px;
  display: block;
  text-align: left;
}
#info-section #instafeed .insta:hover .text {
  opacity: 1;
  visibility: visible;
}
#info-section #instafeed .insta img {
  width: 100%;
}
#info-section #instafeed .col-md-2, #info-section #instafeed .col-sm-2 {
  padding: 0px 1px 0px 1px;
}

#intro {
  text-align: center;
}
#intro .overlay-title {
  display: inline-block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: -100px;
}
#intro .overlay-title h1 {
  display: inline-block;
  background-color: white;
  padding: 20px;
}
#intro h1 {
  text-align: center;
  font-family: "montserrat";
  font-size: 60px;
  margin-bottom: 50px;
}
#intro p {
  text-align: left;
  font-size: 19px;
  line-height: 1.5rem;
  padding: 10px 90px;
  margin: 50px 0px;
}
#intro img {
  max-height: 900px;
  display: auto;
  max-width: 100%;
}

#welcome-section {
  height: 700px;
  padding: 80px 0px;
  margin-top: 0px;
  background-color: #efefef;
  /* border-top: 1px solid #e4e4e4;
   border-bottom: 1px solid #e4e4e4;*/
}
#welcome-section img {
  width: 100%;
}
#welcome-section h1 {
  text-align: right;
  font-size: 70px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  color: white;
  text-shadow: 1px 1px 3px black;
}
#welcome-section p {
  width: 100%;
  color: white;
  font-size: 19px;
  text-shadow: 2px 1px 10px black;
}
#welcome-section #text {
  margin-top: 50px;
  padding: 20px 10px 20px 50px;
}

#facebook iframe {
  width: 100%;
}
#facebook .border {
  height: 500px;
  width: 3px;
  display: block;
  background-color: red;
  margin: auto;
  position: relative;
  color: red;
}
#facebook .border:after {
  content: "";
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: -15px;
  /* right: 22px; */
}
#facebook .border:before {
  content: "";
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -15px;
  /* right: 22px; */
}
#facebook #youtube {
  margin-top: 70px;
}

.page-wrapper .container .fp-add-small {
  height: 300px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.page-wrapper .container .fp-add-small h2 {
  position: absolute;
  background-color: white;
  color: black;
  text-transform: uppercase;
  top: 40%;
  right: 20px;
  font-size: 30px;
  padding: 20px 40px;
  z-index: 999;
}
.page-wrapper .container .fp-add-small h2:before {
  content: "";
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: -30px;
  right: -20px;
  z-index: -1;
  background: repeating-linear-gradient(45deg, #949494, #949494 10px, #FFFFFF 10px, #FFFFFF 20px);
}
.page-wrapper .container .fp-add {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin: 20px 0px;
  z-index: 9;
  /*
  			h2:after{
  				content: "";
  				height: 60px;
  				width: 100%;
  				position:absolute;
  				bottom:-30px;
  				//left: 0px;
  				right: -20px;
  				z-index:2;
  					background: repeating-linear-gradient($graystripes);
  			}
  
  			*/
}
.page-wrapper .container .fp-add .white-stripe {
  position: absolute;
  top: 60%;
  right: -20px;
}
.page-wrapper .container .fp-add .white-stripe:before {
  content: "";
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 10px;
  z-index: -1;
  /* opacity: 0.9; */
  background: repeating-linear-gradient(45deg, #949494, #949494 10px, #FFFFFF 10px, #FFFFFF 20px);
}
.page-wrapper .container .fp-add .white-stripe h2 {
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-size: 30px;
  padding: 20px 40px;
  z-index: 999;
  font-weight: 900;
}
.page-wrapper .container .fp-add-large {
  height: 300px;
  background-size: cover;
  background: linear-gradient(to top, #000000, #000000 20%, #000000 20%, #000000);
}
.page-wrapper .container .fp-add-large h2 {
  background-color: white;
  color: black;
  text-transform: uppercase;
  top: 40%;
  right: 20px;
  font-size: 30px;
  padding: 20px 40px;
  z-index: 999;
}
.page-wrapper .container .fp-add-large h2:after {
  content: "";
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: -30px;
  right: -20px;
  z-index: 2;
  background: repeating-linear-gradient(45deg, #949494, #949494 10px, #FFFFFF 10px, #FFFFFF 20px);
}

.add-btn {
  height: 50px;
  width: 50px;
  background-color: #000000;
  position: fixed;
  z-index: 999;
  display: none;
  border-radius: 50%;
}

.add-btn:after {
  content: "+";
  font-size: 19px;
  color: white;
}

.banner {
  overflow: hidden;
  margin-top: 5rem;
  margin-left: -15px;
  min-height: 450px;
  background-size: cover;
  background-position: 50% 20%;
  position: relative;
}
.banner .filter-wrap {
  background-color: white;
}
.banner .filter-wrap h1 {
  color: #000000;
  font-weight: 500;
  padding: 10px;
}
.banner h1 {
  color: white;
}
.banner .swiper-container {
  height: 620px;
}
.banner .swiper-container .swiper-wrap {
  height: 620px;
}
.banner .swiper-container .swiper-wrap .swiper-slide {
  background-size: cover;
}
.banner .bannerbox {
  float: left;
  color: black;
}
.banner .bannerbox h1.title {
  font-size: 40px;
  margin-top: 0px;
  padding: 40px 10px;
  text-align: center;
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 60px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: "ubuntu";
  letter-spacing: 2px;
}
.banner .bannerbox p {
  margin-bottom: 30px;
  padding: 20px 40px;
  font-size: 19px;
  line-height: 1.6;
}

.page-container {
  padding: 120px 0px;
  background-color: white;
}

.page-content {
  margin: 50px 0px;
  margin-top: 90px;
}
.page-content .sidebar {
  background-color: white;
  margin-top: -50px;
}
.page-content .sidebar .title {
  font-weight: 700;
  margin-top: 0px;
  padding: 15px 0px;
  color: white;
  background-color: #000000;
  text-align: center;
  font-size: 45px;
  font-family: "balboa-plus-primary";
}
.page-content .sidebar .news-item:first-child {
  margin-top: 5px;
}
.page-content .sidebar .news-item {
  margin: 30px 0px;
  padding: 5px 10px;
}
.page-content .sidebar .news-item .news-info {
  width: 100%;
  overflow: auto;
  text-align: right;
  padding-bottom: 5px;
  border-bottom: 2px solid #000000;
}
.page-content .sidebar .news-item .news-info h3 {
  color: black;
  font-weight: bold;
  width: 50%;
  text-align: left;
  float: left;
}
.page-content .sidebar .news-item .news-info h3 a {
  color: black;
}
.page-content .sidebar .news-item .news-info span {
  width: 50%;
  float: right;
  display: block;
}
.page-content .tjanster {
  margin-bottom: 50px;
}
.page-content .tjanster .col-md-6 {
  overflow: hidden;
}
.page-content .tjanster .tjanst-item:hover {
  transform: scale(1.1);
}
.page-content .tjanster .tjanst-item {
  width: 100%;
  height: 274px;
  position: relative;
  margin: 30px 0px;
  color: white;
  background-size: cover;
  transition: all .2s ease-in-out;
}
.page-content .tjanster .tjanst-item h3 {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 0px;
  right: 0px;
  text-shadow: 0px 5px 10px black;
  font-size: 30px;
  margin: 0px;
  font-weight: 800;
  margin-top: -15px;
}
.page-content .tjanster .tjanst-item i.fa {
  font-size: 30px;
  position: absolute;
  top: 60%;
  left: 0px;
  right: 0px;
  text-align: center;
  display: block;
}

section#parallax {
  color: white;
}

/*SERVICE*/
#service img {
  display: block;
  max-width: 48%;
  height: auto;
  max-height: 500px;
}
#service .left img {
  float: left;
}
#service .left .service-text {
  display: block;
  float: right;
  width: 48%;
}
#service .right img {
  float: right;
}
#service .right .service-text {
  display: block;
  float: left;
  width: 48%;
}
#service .service-item {
  width: 100%;
  display: block;
  margin: 120px 0px;
}
#service .service-item p {
  line-height: 27px;
  font-size: 18px;
}
#service .service-item h3 {
  font-size: 54px;
  line-height: 64px;
  font-family: montserrat;
}

/*Footer*/
footer {
  color: white;
}
footer .top-footer {
  background-color: #b12727;
  padding: 40px 0px;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  font-family: "open-sans";
}
footer .top-footer h3 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
footer .top-footer p {
  font-family: "open-sans";
  font-size: 15px;
}
footer .bot-footer.visible {
  visibility: visible;
}
footer .bot-footer {
  padding: 0px;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  visibility: hidden;
  background-color: black;
  text-align: center;
}
footer i.fa {
  font-size: 30px;
}

/*# sourceMappingURL=custom.css.map */
