$mq-mobile-narrower: "only screen and (max-width : 320px)";

$gold:#E5A745;
$maincolor: #000000;
$darkermaincolor :#b12727;
$backgroundColor: white;
$bigfontsize: 40px;
$defaultFont: "open-sans";
$titlefont: "ubuntu";
$textcolor: #484848;
$secondaryColor: #ff0000;
$sitegray: #949494;
$border:1px solid $sitegray;
$headerHeight: 5rem;
$blackgradient: to top, #000000, rgba(255, 255, 255, 0) 40%;


$purpledegree: 0deg, #151040, rgba(255, 255, 255, 0) 100%;

$backgroundGradient: 0deg, #151040, rgba(0, 0, 0, 1) 100%;

$goldoverlay:  0deg, $gold, rgba(255, 255, 255, 0) 30%;


$purplestripes : 0deg,
				  #606dbc,
				  #606dbc 10px,
				  #465298 10px,
				  #465298 20px ;

$graystripes: 45deg,
				  #949494,
				  #949494 10px,
				  #FFFFFF  10px,
				  #FFFFFF  20px ;



@import 'reset';


@import 'responsive';

@import 'button';




/*GENERAL RULES*/
body,html{
	height:100%;
}
body{
	font-family: $defaultFont;
	line-height:1;
	color: $textcolor;
}

.boxout{
	height:$headerHeight;
	float:left;
	    width: 20%;
}


.parallax-mirror {
	z-index:2!important;
}

.stripes{
     color: white;
    background: repeating-linear-gradient(45deg, #b12727, #b12727 5px, #F7F6F1 5px, #F7F6F1 20px);
    height: 30px;
        position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

}

.highlight {
    font-size: 20px;
    font-weight: 900;
    color: #b12727;
}



h1{
	font-family: "paralucent";
	font-size: 35px;
	margin: 10px 0px 20px;
	font-weight:bold;

}
h2{
	font-size: 25px;
	margin: 5px 0px 10px;
}

h3{

	font-size:20px;
	margin: 0px 0px 10px;
	font-weight:600;
}


p{
	margin: 10px 0px;
}
video {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /* min-width: 100%; */
    /* min-height: 100%; */
    /* width: auto; */
    /* height: auto; */
    /* z-index: -100; */
    /* transform: translateX(-50%) translateY(-50%); */
    background-size: cover;
    transition: 1s opacity;
    height: 620px;
}


.fa-search {
    color: white;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    /* margin-right: 20px; */
    float: right;
    right: 20px;
    line-height: 5rem;
    /* top: 20px; */
    /* bottom: 0px; */
    margin: auto;
    display: block;
}

.fa-globe{
	    color: white;
    cursor: pointer;
    font-size: 29px;
    position: absolute;
    right: 15px;
    top: 10px;
    bottom: 0px;
    margin: auto;
    display: block;
}

/*OVERLAYS*/
.blackoverlay{
background:linear-gradient($blackgradient);
}

.purpleoverlay{
		background:linear-gradient($purpledegree);
}

.goldoverlay{
	background:linear-gradient($goldoverlay);
}

.grow { transition: all 200ms ease-in;

	&:hover{
		transform: scale(1.05);
	}


 }

 .add{
 	cursor: pointer;
 	position:relative;
 	text-shadow: 5px 5px 10px black;
 }

 .border{
 	border:2px solid;
 }




/*SWIPER STYLES*/

  .swiper-container {
        width: 100%;
        height: 100%;


        .swiper-slide{

        	height: 620px;
        	background-size:cover;


        	&:hover{
        		cursor: pointer;

        		/*

        		&:before{

        			background: linear-gradient(25deg, #151040, rgba(255, 255, 255, 0.7) 100%);

        			}

        			*/



        		}  


        	&:before{
        		transition: 1s ease all;
content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient($blackgradient);
        	}

        	h2{
        		    color: white;
    position: absolute;
    top: initial;
    bottom: 50px;
    left: 20px;
    font-weight: bold;
    background: none;
    font-size: 55px;
        	}


        	

    }

    .swiper-button-next{
        			background-color:white;
        			right: 0px;
        			padding:35px;
        	}

        	.swiper-button-prev{
        			background-color:white;
        			left: 0px;
        			padding:35px;
        }


    .swiper-pagination-bullet{
    	width: 15px;
    	height: 15px;
    	    background: #FFF;
    opacity: 1;
    }

    .swiper-pagination-bullet-active{
    	background-color:$maincolor;
    }
    }

.clearfix{
	clear:both;
}



.page-wrapper{


	#kontakt{

		.worker-wrap{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    text-align: center;



			.worker{
				align-content: flex-start;
				webkit-box-flex: 1;
			    -webkit-flex-grow: 1;
			    -ms-flex-positive: 1;
			    flex-grow: 1;
			    flex-wrap:wrap;
				flex-basis: calc(100%/4);

			}
		}

		.map-banner{
			margin-top: $headerHeight;
			width: 100%;
			iframe{
				width: 100%;
			}
		}
	}

	margin-top:4.75rem;


.container{

	 p{
	line-height:1.25;
	
}

.gird{
}



.whitewrap{
	background-color: rgb(255, 248, 237);
	margin:70px 0px;
	border-left:5px solid $gold;

	p{
		font-size: 18px;
		line-height: 25px;
		color: gray;
	}

	h2{
		font-weight: slim;
		font-size: 35px;
	}

	.fp-add{
		height: 400px;
		    margin-top: -15px !important;
    margin-bottom: 15px !important;
	}

	.text-wrap.golden{
		color: black;
		border:none;
	}
}



.no-bak-wrap{
	margin:50px 0px;
	color:white;
	margin-top:70px;
}

.btn-border{
	color:white;
	background-color: rgba(0,0,0,0);
    border-style: solid;
    border-width: 3px;
    padding: 12px 20px;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    position:absolute;
    bottom: 40px;
    left: 40px;

    transition: 1s ease all;


    &:hover{
    		background-color:rgba(255,255,255,1);
    		color: $gold;
    		border-color: white;
    		text-decoration: none;
    }
}
}

}


/*GENERAL END*/

body{

	p{
		    text-align: left;
    font-size: 19px;
    line-height: 1.5rem;
	}


	.red-box{

		background-color:#b12727;
		//border:1px solid gray;
		padding:19px;


		p{
			color: white;
			padding:10px 0px;
			font-size: 18px;
		}

	   .sub-title{
	   	padding-bottom:10px;
    	color: white;
    	border-bottom: 3px solid white;
    }

    	} 


	section{
		position:relative;
		//margin:50px 0px;
	}


	.page-back{
		background-color:white;
	}


	.content{
		//padding:40px;
	}

	#insta-title{
		text-align: center;


		a{
			color: black;
		}
	}

	

	section h1{
		color: black;
		font-family:$defaultFont;
	}

	.text-wrap{
		margin-top: 50px;
	}


	.text-wrap.golden{
		border-left:5px solid $gold;
		padding-left:20px;
	}
}

.grid-item{
}

.social-bar{
	position:fixed;
	top:40%;
	height:150px;
	width: 50px;
	background-color:white;
	z-index:99999;
	text-align:center;

	i.fa{
			font-size: 25px;
			color: white;
			position:absolute;
			top: 13px;
			right: 0px;
			left: 0px;
			bottom:0px;
			display: block;
			margin:auto;
		}


	#facebook{

		height: 50px;
		position:relative;
		width: 100%;
		background-color:white;;


		i.fa{
			font-size: 25px;
			color: white;
		}

	}
	#twitter{
		height: 50px;
		position:relative;
		width: 100%;
		background-color:#55acee;

		i.fa{
			font-size: 25px;
			color: white;
		}
	}
	#pintrest{
		height: 50px;
		position:relative;
		width: 100%;
		background-color:#bd081c;

		i.fa{
			font-size: 25px;
			color: white;
		}
	}
}

header{
	top:0px;
	width: 100%;
	position:fixed;
height: $headerHeight;
	z-index:99;

.top-header{


	#right-nav{
		padding-right: 100px;
	}

	#left-nav{
		padding-left: 100px;

		#menu-leftmeny{
			float: right;
		}
	}

		height: $headerHeight;
	background-color: #b12727;
	//background-color:black;
	text-align: center;


	.center-menu{
		    display: inline-block;
    position: absolute;
    left: 0px;
    right: 0px;
	}
	


	.branding{
    position: absolute;
    display: inline-block;
    text-align: center;
    padding-left: 15px;
    margin-right: 15px;
    left: 50%;

	}

	img{
		max-width: 300px;
		max-height: 55px;
		margin-top: 10px;
   // margin-right: 40px;
    //margin-left: 40px;
	}

	#local{
		position:relative;
		float: right;
	}



	.search-wrap{
		position:relative;
		height: $headerHeight;
		margin-right: 20px;

		.searchbar{
			position:absolute;
			left: 0px;
			right: 0px;
			bottom:-20px;
			display: none;

		}
	}

	.menu-toggle{
		margin-top: 15px;
		display: none;


	i.fa{
		color: white;
		font-size: 30px;
	}

	}

		nav {
			//margin-top: 5px;
			  	    height: $headerHeight;

		//width: 100%;
		float:left;
		    width: 40%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
      	    height: $headerHeight;
  }

  .current_page_item{

  	a{
  		//color: black;
  		//background-color:white;
  	}
  }

  li { float:left;display: inline-block; 

  	    display: flex;
  	    height: $headerHeight;
  	            align-items: center;
  	                justify-content: center;


  }

  a {
    display: block;
    padding: 0 12px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    line-height: $headerHeight;
    transition: all 1s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  a:hover{
  	  		color: black;
  		background-color:white;
  }


}

	.search{
		margin-top: 10px;
	}

	.loggin{
		text-align: right;
		display: none;
	}

	input{
		font-size: 19px;
		padding:5px 10px;
		width: 80%;
		    height: 35px;
		display: block;
		float: left;
	}

	button{
		display: block;
		width: 20%;
		background-color:$maincolor;
		border:none;
		    height: 35px;
		color: white;
		float: left;
	}

	.kontakt span{
		display: block;
		width: 100%;

		margin: 10px 0px;

		i.fa{

			margin-right: 30px;

		}
	}


	.kontakt span:first-child{
		margin-top: 0px;
	}
}

#page-logo{
	width: 100%;
	float:left;
	font-family:$titlefont;
	color:white;
	letter-spacing:2px;

	a{
		color: white;
	}
}


.bottom-header{
	background-color:$darkermaincolor;

	nav {

		width: 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .current_page_item{
  	background-color:white;
  	a{
  		color: black;
  	}
  }

  li { float:left;display: inline-block; }

  a {
    display: block;
    padding: 15px 12px;
    text-decoration: none;
    color: white;
    font-size: 18px;
  }


}

}


}


/*HEADER END*/

/*Lang-section*/

section#lang-section{
	margin-top:50px;
	min-height:600px;

	h2{
		color: black;
		font-size: 35px;
		text-align: center;
		padding:50px;
	}
}


/*PARA SECTION*/

section#welcome-section-para {

padding: 80px 0px;
    height: 550px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center 0;
    margin: 50px 0px;
    margin-bottom: 0px;

    #text{
    	position:absolute;
    	color: white;
    	z-index: 99999;
    	font-family: $titlefont;
    	right: 20px;
    	top: 30%;
    	opacity: 0;

    	h1{
    		font-family: $titlefont;
    		color: white;
    		text-shadow: 1px 1px 2px black;
    	}

    	p{
    		text-shadow: 1px 1px 2px black;
    	}
    }
}

section{

	.content-wrap{
		margin:90px 0px;
	}


	.container{
		//	background-color:white;

		padding:15px;

		//border: 1px solid #D4D4D4;


		p{
			letter-spacing: 1px;
		}

	}
}


section#facebook{

    background-color: white;
    padding: 80px 0px;
    margin: 0px;



}


#info-section{
	position:relative;

	text-align:center;

	//height:700px;

	        margin-bottom: 50px;
    margin-top: $headerHeight + 0.5;

	#insta-title{
    /* margin-bottom: 30px; */
    padding:0px;
    height: 0px;
    margin: 0px;
		visibility: visible;
    height: 100px;
    padding: 30px 0px;
    /* margin-top: 48px; */
    background-color: white;
    color: black;
    font-weight: 100;
    font-family: $titlefont;

    transition: 1s ease all;


	}

	#insta-title.visible{
		visibility: visible;
    height: 100px;
    padding: 30px 0px;
	}



	#instafeed{

		display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
		width: 100%;

		text-align: center;

		.insta{



			webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: calc(100%/6);
    -ms-flex-preferred-size: calc(100%/6);
    flex-basis: calc(100%/6);
    line-height: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    

    border: .2vw solid transparent;

			cursor: pointer;

			position:relative;
			.text{
transition: 0.5s ease all;


				position:absolute;
				height: 100%;
				left: 0px;
				right: 0px;
				color: white;
				    background-color: rgba(255, 0, 0, 0.4);
				font-size: 15px;
				font-family: $defaultFont;
				line-height: 16px;
				opacity: 0;
				visibility: hidden;

				small {
    padding: 40px 0px 40px 10px;
    display: block;
    text-align: left;
}

			}

			&:hover{


				zoom: 2;

				img{
					zoom: 2;
				}
				/*
				.text{
					opacity: 1;
					visibility: visible;
				}
				*/
			}


		img{
			width: 100%;
		}

				}

		.col-md-2, .col-sm-2{
			padding: 0px 1px 0px 1px;
		}
	}
}

	.overlay-title{
		transition: 0.5s ease all;
	display: inline-block;
	height:100vh;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    margin-top: -60px;
    z-index: 9;
         background-color: rgba(56, 56, 56, 0.45);
             top: 52px;
    bottom: -10px;

    h1{
    
    
/*display: inline-block; */
    left: 0px;
    right: 0px;
    top: 50%;
    bottom: 0px;
    margin-top: -90px;
    /* padding: 20px; */
    position: absolute;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: "montserrat";
    font-size: 90px;
    }
	}

#intro{


	text-align:center;
	margin-bottom: 50px;

	h1{

		

		text-align: center;
		font-family: "montserrat";
		font-size: 60px;
		//margin: 100px 0px;
		margin-bottom: 50px;
	}
	p{
		text-align: left;
		font-size: 19px;
		line-height: 1.5rem;
		padding: 10px 90px;
		margin: 50px 0px;
		
	}
	img{
		max-height: 900px;
		display: auto;
		max-width: 100%;
	}
}

#welcome-section{

	background-size:cover;

	height:600px;


	padding: 80px 0px;
    margin-top: 0px;
    background-color: #efefef;
   /* border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;*/


	img{
		width: 100%;
		//box-shadow: 1px 1px 14px 1px #cccccc;
	}

	h1{
		text-align: right;
		font-size: 70px;
		text-transform: uppercase;
		font-family: 'Montserrat';
		color: white;
		    text-shadow: 1px 1px 3px black;
	}

	p{
		width: 100%;
		color: white;
		font-size: 19px;

		text-shadow: 2px 1px 10px black;
	}

	#text{
    margin-top: 50px;
    padding: 20px 10px 20px 50px;
	}
	
}

#facebook{
	iframe{
		width: 100%;
	}

	.border{
    height: 500px;
    width: 3px;
    display: block;
    background-color: red;
    margin: auto;
    position:relative;
    color: red;

		&:after{
    content: "";
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    left: -15px;
    /* right: 22px; */
		}

		&:before{
    content: "";
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -15px;
    /* right: 22px; */
		}
	}


	#youtube{
		//margin-top: 70px;
	}
}




.page-wrapper{

	//padding-top:75px;
	//background-color:$maincolor;

	.container{


				.fp-add-small{
		height: 300px;
		width: 100%;
		background-size:contain;
		background-repeat: no-repeat;
		background-position:center center;
		position:relative;

		h2{
			position:absolute;
			background-color:white;
			color: black;
			text-transform: uppercase;
			top: 40%;
			right: 20px;
			font-size:30px;
			padding:20px 40px;
			z-index: 999;


			&:before{

				content: "";
				height: 60px;
				width: 100%;
				position:absolute;
				bottom:-30px;
				//left: 0px;
				right: -20px;
				z-index:-1;
					background: repeating-linear-gradient($graystripes);

			}


		}


			h2:after{
				
			}
	}
		



		.fp-add{
		height: 230px;
		width: 100%;
		background-size:cover;
		background-repeat: no-repeat;
		background-position:center center;
		position:relative;
		margin:20px 0px;
		z-index: 9;
		 @extend .blackoverlay;


		.white-stripe{


			position:absolute;
			top: 60%;
			right: -20px;




		&:before{

		content: "";
    	height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 10px;
    z-index: -1;
    /* opacity: 0.9; */
					background: repeating-linear-gradient($graystripes);

			}





		h2{
			
			background-color:white;
			color: black;
			text-transform: uppercase;
			
			font-size:30px;
			padding:20px 40px;
			z-index: 999;
			font-weight: 900;


			


		}


				}

/*
			h2:after{
				content: "";
				height: 60px;
				width: 100%;
				position:absolute;
				bottom:-30px;
				//left: 0px;
				right: -20px;
				z-index:2;
					background: repeating-linear-gradient($graystripes);
			}

			*/
	}

	.fp-add-large{
		height: 300px;

		background-size:cover;
		background: linear-gradient(
				to top,
				#000000,
				#000000 20%,
				#000000 20%,
				#000000

		);

				h2{
			background-color:white;
			color: black;
			text-transform: uppercase;
			top: 40%;
			right: 20px;
			font-size:30px;
			padding:20px 40px;
			z-index: 999;


		}


			h2:after{
				content: "";
				height: 60px;
				width: 100%;
				position:absolute;
				bottom:-30px;
				//left: 0px;
				right: -20px;
				z-index:2;
					background: repeating-linear-gradient($graystripes);
			}

	}

	}
}


.add-btn{
	height:50px;
	width:50px;
	background-color:$maincolor;
	position:fixed;
	z-index:999;
	display:none;
	border-radius:50%;
}

.add-btn:after{
	content:"+";
	font-size:19px;
	color:white;
}

.banner{
	overflow:hidden;
margin-top: $headerHeight;
	margin-left:-15px;
	min-height:450px;
	background-size:cover;
	background-position:50% 20%;
	//padding: 150px 0px;
	position:relative;
	//background-image: url('http://megamarknad.mediahelpcrm.se/wp-content/uploads/2016/05/backgorund-market-slimer.jpg');



	.filter-wrap{
		background-color:white;

		h1{
			color: $maincolor;
			font-weight: 500;
			padding:10px;
		}
	}


	h1{
		color: white;
	}



		.swiper-container{
					height: 620px;

		.swiper-wrap{
				height: 620px;

		.swiper-slide{

				background-size:cover;

					}
		}
	}

	.bannerbox{

		
		float: left;

		color: black;



		h1.title{
			font-size: 40px;
			margin-top:0px; 
			padding: 40px 10px;
			text-align: center;
			margin-bottom: 0px;
			font-weight: 900;
			font-size: 60px;
			color: white;
			text-shadow: 0 0 10px rgba(0,0,0,0.5);
			font-family: $titlefont;
			letter-spacing: 2px;

		}

		p{
			margin-bottom: 30px;
			padding: 20px 40px;
			font-size: 19px;
			line-height: 1.6;
		}
	}
}


	#intro-text{
		//padding: 70px 0px;


		.container{



			} 

			.whitewrap{



			}
	}

.page-container{

	padding:120px 0px;

	background-color:white;

}

.page-content{




	margin: 50px 0px;

	    margin-top: 90px;

.sidebar{


	background-color:white;

	margin-top:-50px;

	.title{

		font-weight: 700;
		margin-top: 0px;
		padding: 15px 0px;
		color: white;
		background-color: $maincolor;
		text-align: center;
		font-size: 45px;
		font-family: "balboa-plus-primary";

}

.news-item:first-child{
	margin-top:5px;
}

.news-item{
	margin: 30px 0px;

	padding: 5px 10px;

	.news-info{
		width: 100%;
		overflow: auto;
		text-align:right;
		padding-bottom: 5px;
		border-bottom: 2px solid $maincolor;

	h3{
		color: black;
		font-weight: bold;
		width: 50%;
		text-align: left;
		float: left;
		a{
			color: black;
		}
	}
	span{
		width: 50%;
		float: right;
		display: block;
	}
}
	p{
	}

}

}

.tjanster{

	.col-md-6{
		overflow: hidden;
	}
	margin-bottom: 50px;

.tjanst-item:hover{
	transform:scale(1.1);
}
.tjanst-item{
	width: 100%;
	height:274px;
	position:relative;
	margin: 30px 0px;
	color:white;
	background-size:cover;
	transition: all .2s ease-in-out;




	h3{
		position:absolute;
		top: 50%;
		text-align:center;
		left: 0px;
		right: 0px;
		text-shadow: 0px 5px 10px black;
		font-size: 30px;
		margin: 0px;
		font-weight: 800;
		margin-top: -15px;
	}

	i.fa{
		font-size: 30px;
		position:absolute;
		top: 60%;
		left:0px;
		right: 0px;
		text-align: center;
		display: block;

	}
}

}

}

section#parallax{
	color:white;
}
/*SERVICE*/


#service{

	img{
    display: block;
    max-width: 48%;
    height: auto;
    max-height: 500px;
	}

	.left{

		img{

			float: left;
		}


				.service-text{

			display: block;
			float: right;
			width: 48%;



		}

	}

	.right{
		
		img{

			float: right;

		}

				.service-text{
			display: block;
			float: left;
			width: 48%;
		}
	}
	.service-item{

		width: 100%;
		display: block;
		margin:120px 0px;

		.service-text{
			//margin-top: 90px;
		}


		p{
			line-height: 27px;
			font-size: 18px;
		}


					h3{
						font-size: 54px;
						line-height: 64px;
						font-family: montserrat;
					}


	}
}

/*Footer*/

footer{

	//margin-top:50px;
	
	color:white;
	

	.top-footer{
		background-color: $darkermaincolor;

		padding: 40px 0px;
		position:relative;
		z-index: 1;
		margin-bottom:50px;

		font-family:$defaultFont;

		h3{
			font-size: 18px;
			    font-family: 'Montserrat', sans-serif;
			font-weight: 500;
			border-bottom:2px solid white;
			padding-bottom: 5px;
		}

		p{
			font-family:$defaultFont;

			font-size: 15px;
		}

		.widget-container{
			list-style: none;
			line-height: 25px;

			h4{
				font-size:18px;
			}

			a{
				color: white;
			}

			.textwidget{
				font-size: 16px;
			}
		}

	}

	.bot-footer.visible{
		visibility: visible;

	}

	.bot-footer{
		//height: 0px;
		padding: 0px;


		 height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
	visibility: hidden;
				background-color: black;

		text-align: center;

		.footer-copyright{

			p{

				text-align: center;
			}
		}

	}


	i.fa{
		font-size: 30px;

	}
}