@media(max-width:1300px){

	.boxout{
		display: none;
	}

	header{


		.top-header{



			margin-top: 80px;



			.branding{
				    left: 0px;
				    right: 0px;
				    margin:0px;
				    margin-left: 0px!important;
    top: -80px;
    padding-bottom:20px;
    background-color: #b12727;

			}






			#right-nav{
			padding-right: 0px;
			width: initial;
		}

		#left-nav{
			padding-left:50px;
			width: initial;


			ul#menu-leftmeny{
			float: left;
		}
		}

			}


	}

}


@media(max-width:995px){


	.banner{
		.welcomebox{
			width: 70%;
		}
	}


}


@media(max-width:765px){

	.page-content{


		.tjanster{



			.tjanst-item{
				height: 400px;
			}

		}
	}

}





@media(max-width:600px){

	header{


		nav{

			ul{

				display: none;


			}
		}

	}

	.banner{
		.welcomebox{
			width: 100%;
		}
	}



	.page-content{


		.tjanster{



			.tjanst-item{
				height: 300px;
			}

		}
	}
	
}


@media(max-width:400px){

	.welcomebox{

		h1{
			font-size: 30px;
		}
	}

}